<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <link rel="stylesheet" type="text/css" href="../../styles/styles.css">
</head>

<body>
    <div class="head1">
        <h1>Carlquist</h1>
        <h1>Development</h1>
        <h3>Welcome to my page></h3>
    </div>
    <header class="navbar">
        <section class="navbar-section">
        </section>
        <section class="navbar-center">
            <a href="home.hbs" class="btn">Home</a>
            <a href="about.hbs" class="btn">About me</a>
            <a href="algorithm.hbs" class="btn">Hackerrank Solutions</a>
            <a href="project.hbs" class="btn">My projects</a>
        </section>
        <section class="navbar-section">
        </section>

    </header>
    {{{body}}}
</body>

</html>