<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <link rel="stylesheet" type="text/css" href="../../styles/styles.css">

</head>

<body>
    <div class="head1">
        <div class="row">
            <div class="column-head">
                <h1>CQDE BASE</h1>
                <h3>Welcome to my page! </h3>
            </div>
            <div class="column-head">
                <img class="me" src="../../imgs/me.jpg" alt="">
            </div>
        </div>
    </div>
    <header class="navbar">
        <section class="navbar-section">
        </section>
        <section class="navbar-center">
            <a href="/" class="btn">Home</a>
            <a href="/about" class="btn">About me</a>
            <a href="/algorithms" class="btn">Hackerrank Solutions</a>
            <a href="/projects" class="btn">My projects</a>
            <a href="/contact" class="btn">Contact</a>
        </section>
        <section class="navbar-section">
            {{#if admin}}
            <a href="/logout">
                <p style="margin-right: 10px; margin-top: 10px">Sign out</p>
            </a>
            {{/if}}
        </section>

    </header>
    {{{body}}}
</body>

</html>