<div class="home1">
    <h2 class="home1">About</h2>
    <div class="about1">
        <p>Jacob is a software developer who studied the Software Development and Mobile Platforms
            program for three years at Jönköping University's School of Engineering. During his studies he learnet
            a wide range of programing languages and developer tools. <br><br>
            As a person, Jacob is a social team player who can cooperate with any type of person.
            He has a logical mindset and thrives at complex problem solving.
        </p>
    </div>
</div>