{{#if admin}}
<div class="form1">
    <form action="/projects" method="POST">
        <div class="form-group">
            <label for="title" class="form-label">Title:</label>
            <input class="input" type="text" name="title" id='title' maxlength="20" placeholder="Title" required>
            <label for="subtitle" class="form-label">Type: </label>
            <input class="input" type="text" name="subtitle" id='subtitle' maxlength="40" placeholder="Type" required>

            <label for="git" class="form-label">Gitub: </label>
            <input class="input" type="text" name="git" id="git" placeholder="Git link" required>

            <label for="img" class="form-label">Image name: </label>
            <input class="input" type="text" name="img" id="img" placeholder="imgURL">
            <label for="description" class="form-label">Description: </label>
            <textarea class="textarea" type="text" name="description" rows="5" cols="40" id="description"
                placeholder="Description" required></textarea>
        </div>
        <button class="button" type="submit">Add project</button>
    </form>
</div>


{{else}}
<p>Authentication error</p>
{{/if}}