<h2 class="home1">Contact me</h2>
<div class="home2">
    <!-- prettier-ignore -->
    <p>Email: Jacob.carlquist@gmail.com</p>
    <p>Phone: +46735-304476</p>
    <p>Address: Björkgläntevägen 16, 43937, Onsala</p>
    <p>Linked in: <a href="https://www.linkedin.com/in/jacob-carlquist-94a6a319a/">Go to profile</a></p>
</div>