<div class="home1">
    <h2 class="home1">Welcome!</h2>
    <div class="home2">
        <p>Welcome to my page. </p>
        <p>Here you can find my personal projects, hackerrank solutions, ask code qustions or discuss my projects. </p>
    </div>
</div>