<div class="container">
    <div class="columns">
        <div class="column col-3">
            <div class="image-container">
                <img class="p-image" src="../../imgs/codepictures.jpg" alt="err">
            </div>

        </div>

        <div class="column col-3">
            <h1 class="p-title">Title</h1>
            <h2 class="p-type">Subtitle</h2>
            <p class="p-tag">Tag1 tag2 tag3 tag4 tag5 tag6</p>
            <p><a href="github.com">Github</a></p>
        </div>

        <!-- User comments -->
        <div class="column col-6 p-comment">
            <form action="">
                <div class="row">
                    <label for="name">Name: </label><br>
                    <input type="text" id="fname" name="firstname" placeholder="Your name..">
                </div>
                <div class="row">
                    <textarea class="p-comment" name="comment" id="comment" placeholder="..." rows="5"></textarea>
                </div>
            </form>
        </div>

    </div>
    <div class="columns">
        <div class="column col-6">
            <p class="p-desc">Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Explicabo, quos repudiandae
                qui necessitatibus cupiditate, impedit natus
                facere soluta deserunt earum totam, nam quaerat
                deleniti error enim corporis quasi! Expedita,
                quibusdam?</p>
        </div>
    </div>
</div>