<div class="algo-background">
    <div class="code-container">
        <p style="color: white;">{{name}}</p>
        <pre>
            <code class="py" style="background-color: inherit;"><br>{{file}}</code>
        </pre>
    </div>
</div>