.head1 {
  background-color: lightslategray;
  height: fit-content;
  padding: 50px;
  color: white;
}
/* Main */
.btn {
  color: black;
  background-color: whitesmoke;
  text-align: center;
  margin: 5px;
  border: 2px solid lightgray;
  border-radius: 5px;
  transition-duration: 0.4s;
}
.btn:visited {
  color: black;
}
.btn:hover {
  background-color: white;
  color: black;
}
.navbar {
  background-color: whitesmoke;
  height: 70px;
}
.me {
  border-radius: 60%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 30%;
  filter: grayscale(90%);
}

/* Small screens */

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  div.example {
    font-size: 30px;
  }
}

/* Columns */

* {
  box-sizing: border-box;
}

.column {
  padding: 1%;
}

.column-head {
  float: left;
  width: 50%;
}
.column2 {
  border: 2px solid whitesmoke;
  float: left;
  width: 30%;
  padding: 2%;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

/* Home */
div.home1 {
  padding: 20px;
}

h2.home1 {
  color: rgb(94, 106, 121);
  text-align: center;
}
.home2 {
  margin-left: 30%;
  margin-right: 30%;
  background-color: rgb(219, 224, 230);
  border: 1px solid rgb(192, 192, 192);
  border-radius: 3px;
  padding: 25px;
  height: 200px;
}
.about1 {
  margin-left: 10%;
  margin-right: 50%;
  border: 1px solid rgb(221, 207, 207);
  border-radius: 3px;
  padding: 25px;
  height: fit-content;
}

.code1 {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
}

/* Project form */

.form1 {
  margin-left: 40%;
}

/*Code visuals*/
.algo-background {
  background-image: url('../imgs/codepictures.jpg');
}

.code-container {
  width: 60%;
  margin: auto;
  background-color: rgb(219, 200, 200);
  padding: 2%;
  border-radius: 25px;
  min-width: fit-content;
}
